.chart
{
    display:flex;
    justify-content:center;
    /* color: black; */
    /* background-color: red; */
    width: 800px; 
    height: 950px;
    margin-top: 90px;
}
.button {
    width:70px;
    margin-left: 380px;
  }
  button
  {
    color: rgb(255, 255, 255);
    background-color: #010305;
  }
  button:hover {
    background-color: #626a71;
  }