.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s;
}

.logout-button:hover {
  color: #d4edda; /* Light green on hover */
}

@media (max-width: 768px) {
  .navbar-links.open {
    flex-direction: column;
  }

  .logout-button {
    text-align: left;
    width: 100%;
  }
}
